body {
  font-family: 'Amatic SC';
}

.title {
  display: flex;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.flipflop {
  width: 150;
  height: 150;
  position: absolute;
  left: 0px;
  top: 25px;
  z-index: 15;
}

.directions {
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  width: 150;
  height: 150;
  position: absolute;
  background: #ec4df2;
  left: 50px;
  top: 200px;
  z-index: 15;
  padding: 10px;
}

#form {
  display: flex;
}

.button {
  left: 20px;
}
