body {
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.flipflop {
  width: 150;
  height: 150;
  position: absolute;
  left: 0px;
  top: 25px;
  z-index: 15;
}

.directions {
  width: 150;
  height: 150;
  position: absolute;
  background: #ec4df2;
  left: 50px;
  top: 200px;
  z-index: 15;
  padding: 10px;
}

.button {
  left: 20px;
}
